/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* colors:
#2E76BB - blue
#1d4077 - StuyMUN blue
*/

/* ----- ACTUAL CSS ----- */

/* body */

body {
    margin: 0;
}

/* banner */

#banner {
    background: linear-gradient(rgba(46,118,187, 0.5), rgba(255, 255, 255, 0.25)), url('https://raw.githubusercontent.com/JosephYusufov/StuyMun/master/static/img/stuymunc19.jpg');
    /*background-image: url('static/img/stuymunc19.jpg');*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 95vh !important;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vh;
}

#banner .title {
    color: white;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Montserrat';
    text-shadow: 5px 5px #2E76BB;
}

#banner img {
    width: 125px;
    height: auto;
    background-color: #2E76BB;
    padding: 5px;
    padding-top: 5px;
    border-radius: 50%;
}

#banner #navbar-home ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
#banner #navbar-home li{
    display:inline;
}

#banner #navbar-home a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
    font-family: 'Red Hat Display';
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    font-size: 15px;
    background-color: #2E76BB;
    box-shadow: -3px -3px white;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    transition: 0.3s;
}

#banner #navbar-home ul > li:hover a {
    color: #2E76BB;
    background-color: white;
    box-shadow: 3px 3px #2E76BB;
    transition: 0.3s;
}

/* announcements */

#announcements, #team{
    background-color: #2E76BB;
    padding: 4%;
}

#announcements .txt-holder {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 100%;
}

#announcements .title {
    text-align: center;
    vertical-align: top;
}

#announcements .title .title {
    font-family: 'Red Hat Display';
    color: white;
    font-size: 50px;
    font-weight: bold;
}

#announcements .title .date-info {
    color: white;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
}

#announcements .title .location-info {
    color: white;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}

#announcements .desc {
    font-family: 'Red Hat Display';
    color: white;
    font-size: 20px;
    float: right;
}

#announcements .bye {
    text-align: right;
    font-style: italic;
}

#announcements .smr-holder {
    width: 100%;
    text-align: center;
}

#announcements .smr-holder a {
    display:inline-block;
    padding:1em;
    text-decoration: none;
    color: #2E76BB;
    font-family: 'Red Hat Display';
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    transition: 0.3s;
    border-style: solid;
    border-width: 3px;
}

#announcements .smr-holder a:hover {
    background-color: #2E76BB;
    color: white;
    transition: 0.3s;
}

.to-top {
    text-align: center;
}

.to-top a {
    color: #eeeeee;
    text-decoration: none;
    font-family: 'Red Hat Display';
    font-weight: bold;
    transition: 0.3s;
    
}

.to-top a:hover {
    text-decoration: underline;
    transition: 0.3s;
}

/* about */

#about {
    background: linear-gradient(rgba(46,118,187, 0.75), rgba(0, 0, 0, 0.5)), url('https://raw.githubusercontent.com/JosephYusufov/StuyMun/master/static/img/conferences/brown2018.JPG');
    opacity: 0.75;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto !important;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;

}

#about .title {
    color: white;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Red Hat Display';
    text-decoration: underline;
}

#about .tagline {
    color: white;
    font-weight: 900;
    font-size: 90px;
    font-family: 'Montserrat';
    text-shadow: 5px 5px #2E76BB;
}

#about .tagline-small {
    color: white;
    font-weight: bold;
    font-family: 'georgia';
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #2E76BB;
}

#about .desc {
    color: white;
    font-family: 'Red Hat Display';
}

#about .bumper {
    color: white;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
}

/* team */

.bio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

#team {
    text-align: center;
}

#team .top-title {
    color: white;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Red Hat Display';
    text-decoration: underline;
}

.bio-card {
	padding: 1%;
    width: 28.5%;
    margin: 2%;
    margin-bottom: 2%;
    text-align: center;
    background: white;
    border-radius: 10px;
    font-family: "Red Hat Display";
    color: #2E76BB;
}

#top-left {
    margin-left: 0% !important;
}

#top-right {
    margin-right: 0% !important;
}

.bio-card .bio-text {
    text-align: justify;
    padding: 5%;
}

.bio-card {
    padding-top: 2em;
    padding-bottom: 2em;
    box-shadow: 10px 10px #eeeeee;
}

.bio-card img {
	object-fit: cover;
  	border-radius: 50%;
    width: 18vw;
    height: 18vw;
    margin-bottom: 2%;
    /* height: 300px; */
}

.bio-card .name {
	font-family: 'Montserrat';
	font-weight: bold;
    font-size: 30px;
}

.bio-card .title {
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
}

.bio-card .desc {
	font-size: 14px;
	text-align: justify;
}

/* contact */

#contact {
    background: white;
    padding: 1em;
    padding-bottom: 2em;
    text-align: center;
}

#contact .top-title {
    color: #2E76BB;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Red Hat Display';
}

.fa {
    margin-left: 0.25%;
    margin-right: 0.25%;
  padding-top: 0.5em;
  height: 1.5em;
  width: 2em;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #2E76BB;
  border-radius: 25%;
  transition: 0.3s;
}

.fa:hover {
  opacity: 0.9;
  text-decoration: none;
  transition: 0.3s;
  background-color: white;
  color: #2E76BB;
  box-shadow: 3px 3px #2E76BB;
}


/* banner2 */

#banner2 {
    background: #1d4077;
    /*background-image: url('static/img/stuymunc19.jpg');*/
    height: 115vh;
    text-align: center;
    word-wrap: break-word;
}

#banner2 img {
    width: 25vw;
    height: auto;
    padding-top: 8vh;
    padding-bottom: 6vh;
}

#banner2 .date-info {
    color: white;
    font-family: 'Montserrat';
    font-size: 75px;
    font-weight: 700;
}

#banner2 .location-info {
    color: white;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
}

#banner2 .location-detail {
    color:white;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

#info-minimunc .title {
    color: #1d4077;
    font-family: "Red Hat Display";
    font-size: 50px;
    font-weight: 900;
}

#info-minimunc .title-holder {
    margin-top: 2.5%;
    text-align: center;
}

#info-minimunc .desc-holder {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

#info-minimunc .desc {
    color: #1d4077;
    font-family: "Red Hat Display";
    font-size: 20px;
}

#info-minimunc .sign-off {
    float: right;
    color: #1d4077;
    font-family: "Red Hat Display";
    font-size: 20px;
    font-style: italic;
}

#info-minimunc .video {
    text-align: center;
}

#info-minimunc .checkout {
    color: #1d4077;
    font-family: "Red Hat Display";
    font-size: 20px;
    font-weight: 700;
}

#info-minimunc iframe {
    border-radius: 5%;
    padding: 2em;
    background-color: #1d4077;
    margin-bottom: 2.5%;
}

#committees {
    background: white;
    color: #1d4077;
    padding-top: 2.5%;
    text-align: center;
}

#committees .title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
}

#committees .description {
    font-family: 'Red Hat Display';
    font-size: 20px;
    text-align: justify;
}

.comm-card {
    width: 100%;
    text-align: left;
    font-family: "Red Hat Display";
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#disec {
    background: url(https://cdn.britannica.com/13/94113-050-043A9DE8/test-thermonuclear-weapon-Enewetak-atoll-Marshall-Islands-Nov-1-1952.jpg);
    background-position: top;
    background-size: cover;
}

#unhcr {
    background: url(https://storage.googleapis.com/afs-prod/media/73a02635336848979753cfc392ee9506/3000.jpeg);
    background-position: center;
    background-size: cover;
}

#unwomen {
    background: url(https://www.presencelearning.com/app/uploads/2015/02/cyberbullying.jpg);
    background-position: center;
    background-size: cover;
}

#nycc {
    background: url(https://static01.nyt.com/images/2019/10/18/nyregion/18nytoday/merlin_107959096_0a5a6da0-9e54-4e70-bbb4-c69d00c000bf-superJumbo.jpg);
    background-position: center;
    background-size: cover;
}

#unsc {
    background: url(https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/assets/2019/02/25-02-2019_UNAMID_ArialView-Graida.jpg/image1170x530cropped.jpg);
    background-size: cover;
    background-position: center;
}

#senate {
    background: url(https://cdn.britannica.com/24/187924-050-D8384718/Andrew-Johnson-soldiers-Confederate-White-House-Washington-1865.jpg);
    background-size: cover;
    background-position: center;
}

#unep {
    background: url(https://fortresslight.com/wp-content/uploads/2017/10/small-island-states.jpg);
    background-size: cover;
    background-position: top;
}

#nba {
    background: url(https://static01.nyt.com/images/2011/06/24/sports/sub-nba/sub-nba-jumbo.jpg);
    background-size: cover;
    background-position: top;
}

#gcs {
    background: url(https://media.nationalgeographic.org/assets/photos/752/084/38949d2c-324e-4df6-b2cd-58a27f2c4cca.jpg);
    background-size: cover;
    background-position: center;
}

#acc {
    background: url(https://themobmuseum.org/wp-content/uploads/2019/05/1929-Atlantic-City-Capone-and-Nucky_crop.png);
    background-size: cover;
    background-position: top;
}

#nixon {
    background: url(https://cdn10.picryl.com/photo/1972/06/16/president-richard-nixon-with-his-1972-cabinet-members-a90212-1600.jpg);
    background-size: cover;
    background-position: center;
}

#hongkong {
    background: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/01/01/12/hong-kong-march.jpg);
    background-size: cover;
}

#bellbreakup {
    background: url(https://image.businessinsider.com/5a970cb3aae60518008b457b?width=1136&format=jpeg);
    background-size: cover;
}

#banner2 a {
    float: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-decoration: none;
    color: #1d4077;
    text-align: center;
    font-family: 'Red Hat Display';
    font-weight: 700;
    border-radius: 10px;
    width: 95%;
    background-color: white;
    transition: 0.3s;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#banner2 a:hover {
    background-color: #1d4077;
    color: white;
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

#register .registerbtn {
    float: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-decoration: none;
    color: #1d4077;
    text-align: center;
    font-family: 'Red Hat Display';
    font-weight: 700;
    border-radius: 10px;
    width: 95%;
    background-color: white;
    transition: 0.3s;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#register a:hover {
    background-color: #1d4077;
    color: white;
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

.comm-card .name {
    margin-left: 10vh;
    font-family: 'Red Hat Display' !important;
    color: white;
    background: #1d4077;
	font-weight: bold;
    font-size: 50px;
}

.comm-card .type {
    margin-left: 10vh;
	font-style: italic;
    font-size: 18px;
    font-family: 'Red Hat Display';
    color: white;
    background: #1d4077;
}

.comm-card .type2 {
    margin-left: 10vh;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Red Hat Display';
    color: white;
    background: #1d4077;
}

.comm-card p {
    margin-left: 10vh;
    margin-right: 10vh;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: #1d4077;
    text-align: justify !important;
}

.comm-card a {
    float: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-right: 10vh;
    font-family: 'Red Hat Display';
    font-weight: 700;
    border-radius: 10px;
    width: 25vw;
    background-color: #1d4077;
    transition: 0.3s;
}

.comm-card a:hover {
    background-color: white;
    color: #1d4077;
    border-style: solid;
    border-width: 3px;
    transition: 0.3s;
}

#register {
    background: #1d4077;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

#register .title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
}

#register .description {
    font-family: 'Red Hat Display';
    font-size: 20px;
    text-align: justify;
}

#policies {
    background: white;
    color: #1d4077;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

#policies .title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
}

#policies .description {
    font-family: 'Red Hat Display';
    font-size: 20px;
    text-align: justify;
}

#policies p {
    font-size: 14px;
    font-family: 'Red Hat Display';
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#interested-minimunc {
    margin-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    background-color: #1d4077;
}

#interested-minimunc .header {
    color: white;
    font-family: "Red Hat Display";
    font-size: 50px;
    font-weight: 900;
}

#interested-minimunc .text {
    color: white;
    font-family: 'Montserrat';
    font-size: 30px;
}

.video{
    margin-bottom: 2.5%;
}

hr {
    width: 95%;
}

table {
    font-family: 'Red Hat Display';
    margin: 2.5%;
    width: 95%;
}

th {
    background: white;
    color: #1d4077;
    padding: 0.5em;
}

td {
    padding: 0.5em;
}