{% extends "base.html" %}

{% block head %}
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock head %}

{% block body %}
<section id="team">
  <div class="container wow fadeInUp">
    <h2>Secretariat 2018-2019</h2>
    <hr>
    <div class="section-header">
      <h3 class="section-title">Upper Secretariat</h3>
      </div>
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="{{url_for('static', filename='img/josh.JPG')}}" alt=""></div>
          <h4>Joshua Weiner</h4>
          <span>Secretary General</span>
        </div>
      </div>
      <div class="col"></div>
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="{{url_for('static', filename='img/megan.jpg')}}" alt=""></div>
          <h4>Megan Waters</h4>
          <span>Undersecretary General of Logistics</span>
        </div>
      </div>
      <div class="col"></div>

      <div class="col-lg-3 col-md-6">
      <div class="member">
        <div class="pic"><img src="{{url_for('static', filename='img/nathaniel.jpg')}}" alt=""></div>
        <h4>Nathaniel Unger</h4>
        <span>Undersecretary General of Personnel</span>
      </div>
    </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="{{url_for('static', filename='img/ben.jpg')}}" alt=""></div>
          <h4>Ben Platt</h4>
          <span>Director General</span>
        </div>
        </div>
        <div class="col"></div>

        <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="{{url_for('static', filename='img/ahmed.jpg')}}" alt=""></div>
          <h4>Ahmed Sultan</h4>
          <span>Director General</span>
        </div>
        </div>
        <div class="col"></div>



      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="{{url_for('static', filename='img/chloe.jpg')}}" alt=""></div>
          <h4>Chloe Hanson</h4>
          <span>Deputy Undersecretary General</span>
        </div>
      </div>
      </div>
    <hr>
    <div class="section-header">
      <h3 class="section-title">Lower Secretariat</h3>
      </div>
      <div class="row">
        <div class="col">
          <h4>Lower Secretariat of Personnel</h4>
          <ul>
            <li>Joseph Yusofov</li>
            <li>Vishwaa Sofat</li>
            <li>Elisey Goland</li>
            <li>Asif Sattar</li>
          </ul>
        </div>
        <div class="col">
          <h4>Lower Secretariat of Logistics</h4>
          <ul>
            <li>Harper Andrews</li>
            <li>Claire Tempelman</li>
            <li>Max Goldstein</li>
          </ul>
        </div>
        <div class="col">
          <h4>StuyMUNC Lower Secretariat</h4>
          <ul>
            <li>Ahmed Hussein</li>
            <li>Frank Yang</li>
            <li>Shafali Gupta</li>
          </ul>
        </div>
        </div>
  </div>
</section><!-- #team -->



{% endblock body %}
